.left.sidebar {
  left: 0;
  justify-content: space-between;
  width: 100px;
  border-right-color: rgb(191, 191, 191);
  border-right-style: solid;
  border-right-width: 1px;
}


.sidebar-link {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  color: #222;
  text-decoration: none;
  background: none;
  font-weight: 400;
  box-shadow: none;
  border: none;
  outline: none;
  transition: background 0.15s;
}

.sidebar-link:visited,
.sidebar-link:active,
.sidebar-link:focus {
  color: #222;
  background: none;
  outline: none;
  box-shadow: none;
}

.sidebar-link:hover {
  background-color: #f2f2f2;
  color: #222;
}

.sidebar-link img, 
.sidebar-link .material-symbols-outlined {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 12px;
  text-align: center;
}

.copyright {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
}


@media (min-width: 1200px) {
  .left.sidebar {
    width: 250px;
  }
  
  .sidebar-link {
    height: 60px;
    flex-direction: row;
    justify-content: none;
    padding: 8px 24px;
  }

  .sidebar-link img, 
  .sidebar-link .material-symbols-outlined {
    margin-bottom: 0;
    margin-right: 24px;
  }
  
  .sidebar-link div {
    font-size: 14px;
    flex: 1;
    text-align: left;
  }

  .copyright {
    font-size: 12px;
    text-align: center;
  }
}