body {
  font-family: sans-serif, Arial;
  margin: 0;
  background-color: white;
}

/* include padding/border in element width calculations to avoid overflow */
*, *::before, *::after {
  box-sizing: border-box;
}