header {
  height: 75px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  font-family: sans-serif;
  font-size: 30px;
  font-weight: 900;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(191, 191, 191);
}

.socials {
  position: absolute;
  top: 20px;
  right: 50px;
}

.socials a {
  text-decoration: none;
}

.socials img {
  width: 20px;
  margin: 5px 4px;
}