.right.sidebar {
  right: 0;
  width: 300px;
}

.ad-image {
  height: 300px;
  padding: 10px;
  object-fit: fill;

  /* displays broken image if ad images don't load properly */
  font-family: 'Material Symbols Outlined'; 
  font-size: 32px;
  text-align: center;
}

.ad-image:before {
  content: "broken_image";
}